/* CSS Document */

body{
	background-color:#2C1CBF;
}
.login { 
	height:500px;
	width:1000px;
	margin:auto;
	border:10px #CCC solid;
	padding:10px;
	margin-top:400px;
}

.login input { 
	padding:5px;
	margin:5px;
	font-size:60px;
	border-radius:130px;
}
.login label{
	font-size:60px;
	font: Geneva, Arial, Helvetica, sans-serif;
	text-shadow:#FFFFFF;
}